* {
  font-family: "PlemolJP";
}
:root {
  font-size: 16px;
}
table {
  width: 700px;
  margin: 20px auto;
  border: 1px solid #aaa;
  border-collapse: collapse;
}
thead,
th,
tbody {
  border: 1px solid #aaa;
}
th {
  background: #e0e0e0;
}
td {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  vertical-align: top;
  padding: 0 4px;
}
td[nowrap] {
  white-space: pre-line !important;
  word-break: break-all;
  width: 300px;
}
td.diff_header {
  background: none;
  font-weight: bold;
  color: #aaa;
  text-align: right;
  font-size: 0.95em;
  width: auto;
}
.diff_next {
  display: none;
}
.diff_add {
  background-color: #4ccc78;
}
.diff_chg {
  background-color: #ffdd33;
}
.diff_sub {
  background-color: #ed7a7a;
  color: #fff;
}

tr:hover {
  background-color: #abebff;
}
tr.filler {
  line-height: 0.5;
  color: gray;
}
tr.filler td {
  padding: 8px 4px;
}
tr.filler td::after {
  content: "\fe19";
  font-size: 0.8em;
}

@media print {
  tr:hover {
    background-color: transparent;
  }
}