@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanjp_s-noto.min.css');
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansjp/v42/-F6pfjtqLzI2JPCgQBnw7HFQaioq1A.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansjp/v42/-F62fjtqLzI2JPCgQBnw7HFowA.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansjp/v42/-F6pfjtqLzI2JPCgQBnw7HFQei0q1A.otf) format('opentype');
}
@font-face {
  font-family: 'M PLUS 1 Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplus1code/v7/ypvMbXOOx2xFpzmYJS3N2_J2hBN6RZ5oIp8m_7iN0HHp.ttf) format('truetype');
}
html {
  background: #fff;
  color: #272727;
  font-family: YakuHanJPs_Noto, 'Noto Sans JP', sans-serif;
  font-size: 14px;
}
body {
  line-height: 1.75;
  margin: 1rem;
}
body p {
  margin: 1.5rem 0;
  word-break: break-all;
}
body a {
  color: #0066c0;
  text-decoration: none;
  word-break: break-all;
}
body a[filetype]::after {
  content: attr(filetype);
  color: #aaa;
  font-size: 0.75rem;
  font-weight: normal;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0 4px;
  margin: 0 0.25rem;
  cursor: initial;
}
body strong {
  font-weight: bold;
}
body del,
body del * {
  color: #888 !important;
}
.container {
  width: 40rem;
  margin: 0 auto 50vh auto;
  position: relative;
}
@media print {
  .container {
    margin-bottom: 0;
  }
}
.main > p {
  margin-left: 1em;
  margin-right: 1em;
  text-align: justify;
}
.main hr {
  border: none;
  background: #d6dde4;
  width: 100%;
  height: 6px;
  margin: 80px auto;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "palt";
  line-height: 1.1;
  text-align: justify;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
h1 {
  margin: 2rem 0 4rem 0;
  color: #364352;
  font-size: 2.5rem;
}
h2 {
  margin: 4rem 0 2rem 0;
  font-size: 1.6rem;
  color: #004384;
  border-bottom: 4px solid #99a9bc;
  padding-bottom: 4px;
}
h3 {
  font-size: 1.4rem;
  color: #004384;
  margin: 4rem 0 1rem 0;
  border-bottom: 1px solid #aaa;
  padding-bottom: 4px;
}
h4 {
  font-size: 1.25rem;
  margin: 2rem 0 1rem 0;
  color: #004384;
}
h5 {
  font-size: 1.1rem;
  margin: 2rem 0 1rem 0;
  color: #364352;
}
h5::before {
  content: "\25A0";
  color: #99a9bc;
  letter-spacing: 0;
}
h6 {
  font-size: 1rem;
  margin: 2rem 0 1rem;
  color: #364352;
}
h6::before {
  content: "\25A1";
  color: #99a9bc;
  font-weight: bold;
}
img {
  cursor: zoom-in;
  box-shadow: 1px 1px 5px 1px #aaa;
  margin: 2rem auto;
  display: block;
  max-width: 90%;
}
img ~ em,
img ~ strong {
  font-size: 0.9em;
  font-style: normal;
  display: block;
  line-height: 1.25;
  text-align: center;
  margin-top: -1em;
  color: #747474;
  font-weight: normal;
}
img:active {
  cursor: zoom-out;
  display: block;
  z-index: 100;
  position: fixed;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
}
img[alt~="right"] {
  margin-right: 0;
  margin-left: auto;
}
img[alt~="left"] {
  margin-right: auto;
  margin-left: 0;
}
ol,
ul {
  margin: 1rem;
  padding-left: 2rem;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin: 0;
}
h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  text-decoration: underline;
  text-decoration-style: wavy;
}
h1 + ul,
h2 + ul,
h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul,
h1 + ol,
h2 + ol,
h3 + ol,
h4 + ol,
h5 + ol,
h6 + ol {
  margin-top: 0.5rem;
}
li {
  text-align: justify;
  word-break: break-all;
}
li > div.wrapper-li > p {
  margin: 0;
}
li.empty {
  list-style: none;
}
li.empty::before {
  content: "\FE19";
  color: gray;
}
li.sub::marker {
  content: "\2192";
}
ul li::marker {
  color: #364352;
}
ol li::marker {
  color: #364352;
  font-weight: bold;
}
.ol-period ol {
  counter-reset: num;
}
.ol-period ol > li {
  list-style: none;
  counter-increment: num;
}
.ol-period ol > li::marker {
  content: counters(num, ".") ". ";
}
blockquote {
  color: #364352;
  font-size: 0.9rem;
  background: #f6f6f6;
  border-left: solid 1px #aaa;
  margin: 1rem;
  padding: 0.1rem 0.5rem;
}
blockquote p {
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
blockquote p + div.src {
  color: #5e7590;
  font-size: 0.8rem;
  line-height: 1;
  text-align: end;
  margin-top: -1em;
}
blockquote ol li::marker {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}
:not(pre) > code {
  font-family: 'M PLUS 1 Code', sans-serif;
  font-size: 0.9em;
  padding: 0 4px;
  margin: 0 0.1em;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #364352;
  background: #f6f6f6;
  word-break: break-all;
}
pre {
  margin: 1rem;
  padding: 1.5em 0.5em;
  background: #f6f6f6;
  border: 1px solid #aaa;
  white-space: pre-wrap;
  position: relative;
  line-height: 1.25;
}
pre code {
  font-family: 'M PLUS 1 Code', sans-serif;
  font-size: 0.9rem;
  color: #364352;
  word-break: break-all;
}
pre.codeblock-header::before {
  content: attr(data-label);
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  color: #364352;
  display: block;
  font-size: 0.75rem;
  padding: 0 2px;
  line-height: 1.5;
  position: absolute;
  top: 0;
  right: 0;
}
pre.codeblock-header[data-label="right"] {
  text-align: right;
  border: none;
  background: inherit;
  color: inherit;
  padding: 0;
  margin: 2rem 1rem;
}
pre.codeblock-header[data-label="right"]::before {
  display: none;
}
pre.codeblock-header[data-label="right"] > code {
  font-size: 1rem;
  font-family: YakuHanJPs_Noto, 'Noto Sans JP', sans-serif;
}
pre.codeblock-header[data-label="endnote"] {
  text-align: right;
  border: none;
  background: inherit;
  color: inherit;
  padding: 1em 0 0 1em;
  margin: 6rem 0 0 auto;
  border-top: 6px solid #dddddd;
  width: fit-content;
}
pre.codeblock-header[data-label="endnote"]::before {
  display: none;
}
pre.codeblock-header[data-label="endnote"] > code {
  font-size: 0.85rem;
  font-family: YakuHanJPs_Noto, 'Noto Sans JP', sans-serif;
}
table {
  font-size: 0.9rem;
  font-weight: lighter;
  margin: 2rem auto;
  word-break: break-all;
  max-width: 38rem;
  min-width: 50%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: solid 2px #aaa;
  border-bottom: solid 2px #aaa;
}
table th,
table td {
  padding: 0.2rem 0.5rem;
  line-height: 1.25;
  min-width: 2rem;
}
table th {
  text-align: center !important;
  font-weight: bold;
  line-height: 1.1;
  border-bottom: 1px solid #aaa;
}
table tbody tr:nth-child(even) {
  background: #eaeaea;
}
.timestamp {
  margin-right: 1rem;
  text-align: end;
  font-size: 10px;
  font-style: italic;
  color: #666;
}
.toc {
  position: absolute;
  width: 16rem;
  left: 40rem;
  top: -1rem;
  height: 100%;
  font-size: 0.95rem;
}
.toc ul {
  position: sticky;
  top: 1rem;
}
.toc li {
  text-align: left;
  padding-left: 0;
  line-height: 1;
  margin: 8px auto;
}
.toc li.toc-h2 {
  margin-left: 0em;
}
.toc li.toc-h3 {
  margin-left: 1em;
}
.toc li.toc-h4 {
  margin-left: 2em;
}
.toc li.toc-h5 {
  margin-left: 3em;
}
.toc li.toc-h6 {
  margin-left: 4em;
}
@media print {
  .toc {
    display: none;
  }
}
.page-separator {
  color: #eb4034;
  text-align: center;
  page-break-after: always;
}
.page-separator::before {
  content: "- - - - - - - - - - \2702 - - - - - - - - - -";
}
@media print {
  .page-separator {
    visibility: hidden;
  }
}
.multicol {
  columns: 2;
  margin: 2rem 0;
  padding: 0.5rem;
  column-gap: 2em;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 0.95rem;
}
.multicol ul,
.multicol ol {
  margin: 0;
}
.multicol ul ul,
.multicol ol ul,
.multicol ul ol,
.multicol ol ol {
  padding-left: 1em;
}
.multicol p {
  margin-top: 0;
  margin-bottom: 0;
}
.spacing-2 {
  letter-spacing: 0.25em;
}
.spacing-3 {
  letter-spacing: 0.2em;
}
.spacing-4 {
  letter-spacing: 0.1em;
}
.countup,
.count-up {
  counter-reset: chap;
}
.countup .chapter::before,
.count-up .chapter::before {
  content: "\7B2C" counter(chap) "\7AE0";
  counter-increment: chap;
  margin-right: 0.5em;
}
.tag {
  font-size: 0.9em;
  padding: 0 0.1em;
  color: tomato;
}
.tag::before {
  content: "#";
}
