span.filler::before {
  margin: 20px;
  display: block;
  content: "\fe19";
  color: gray;
}

.diff-container {
  width: 600px;
  margin: auto;
  font-family: "HackGen";
  font-size: 16px;
  line-height: 1.25;
}

ins {
  border-radius: 4px;
  background: #ffbebe;
  border: 1px solid tomato;
  text-decoration: none;
}

del {
  background: #a4e5ff;
  border: 1px solid #05374b;
  color: #929292;
}

.compress {
  display: inline-block;
  vertical-align: text-top;
  width: 0.25em;
  color: transparent;
  overflow: hidden;
  height: calc(1em + 2px);
  box-sizing: border-box;
}

br {
  display: block;
  content: "";
  margin: 0.5em 0;
}
